<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>home_page</servlet-name>
        <servlet-class>sito.home_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seller</servlet-name>
        <servlet-class>sito.seller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyer</servlet-name>
        <servlet-class>sito.buyer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product_page</servlet-name>
        <servlet-class>sito.product_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmation_page</servlet-name>
        <servlet-class>sito.confirmation_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finish_page</servlet-name>
        <servlet-class>sito.finish_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>sito.error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>sito.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carrello</servlet-name>
        <servlet-class>sito.carrello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>sito.download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_product</servlet-name>
        <servlet-class>sito.add_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submit_product</servlet-name>
        <servlet-class>sito.submit_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>sito.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submit_register</servlet-name>
        <servlet-class>sito.submit_register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home_page</servlet-name>
        <url-pattern>/home_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seller</servlet-name>
        <url-pattern>/seller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyer</servlet-name>
        <url-pattern>/buyer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product_page</servlet-name>
        <url-pattern>/product_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmation_page</servlet-name>
        <url-pattern>/confirmation_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finish_page</servlet-name>
        <url-pattern>/finish_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carrello</servlet-name>
        <url-pattern>/carrello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_product</servlet-name>
        <url-pattern>/add_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submit_product</servlet-name>
        <url-pattern>/submit_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submit_register</servlet-name>
        <url-pattern>/submit_register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
